### import libraries

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('blobs.csv')

In [3]:
dataset_1 = dataset[:8]

            0          1
0    8.622185   1.935796
1   -4.736710  -7.970958
2    9.621222   0.925423
3    6.162095  -0.273254
4    8.697488  -1.057452
..        ...        ...
995  8.993880   2.203768
996 -5.082768  -9.644539
997 -6.252268  -8.412482
998 -5.479154 -10.536955
999  6.120559   0.968963

[1000 rows x 2 columns]